.App {
  text-align: center;
  background-image: url('./images/bg.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-form {
  background-color: white;
  height: 50%;
  width: 50%;
  display: flex;
  border-radius: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 5px;
  direction: rtl;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2.5;
  background-image: url('./images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
